#include <stdio.h>
#include <stdlib.h>

int main()
{
    int sum;
    double p , x;

    printf("enter the sum:");
    scanf("%d" , &sum);
    printf("enter the number of percents:");
    scanf("%lf" , &p);

    p = p / 100;
    x = p * sum;

    printf("%.lf", x);
    return 0;
}
